.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@media (max-width: 414px) {
    .App-header {
        background-color: #FFE24F;
        min-height: 10vh;
        font-size: calc(10px + 2vmin);
        color: white;
        padding: 0.5em;
    }
}

.App-header {
    background-color: #FFE24F;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 1em;
}